
.sidebar {
  // width: 272px !important;
  a {
    color: $color-dove-gray;
    &:hover {
      color: $color-endeavour;
    }
  }
  .active-item a {
    color: $color-endeavour;
  }
}

.sidebar-logo {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 12px;
  img {
    height: 24px;
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 18px;
  color: $color-dove-gray;
}

.sidebar-menu {
  margin-left: 30px;
  li {
    line-height: 47px;
    i {
      width: 26px;
    }
  }
}

.sidebar-account {
  flex: 1 0 auto;
  margin: 20px 15px 15px;
  border-top: 2px solid $color-mercury;
  li {
    text-align: center;
    img {
      width: 100px;
      height: 100px;
      margin-top: 30px;
      border-radius: 50%;
      border: 3px solid $color-silver-chalice;
    }
  }
}

.sidebar-account-name {
  font-size: 16px;
  margin-top: 10px;
}

.sidebar-logout {
  margin-top: 25px;
  i {
    font-size: 21px;
    width: 28px;
  }
}

.sidebar-help {
  font-size: 16px;
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 35px;
  li {
    line-height: 26px;
  }
}

// Tabs
.nav-tabs {
  border-bottom: 1px solid $color-silver-chalice;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  .nav-item {
    margin: 0 5px -1px;
    &:first-child {
      margin-left: 0;
    }
  }
  .nav-link {
    border: 1px solid transparent;
    border-color: $color-endeavour $color-endeavour transparent;
    display: block;
    height: 100%;
    line-height: 42px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-link.active {
    color: $color-silver-chalice;
    border-color: $color-silver-chalice $color-silver-chalice white;
  }
  .bank-logo {
    height: 30px;
    width: 30px;
  }
}
