.t-calendar-block {
	width: 100%;
}

.t-error {
	color: $color-guardsman-red !important;
	border-color: $color-guardsman-red !important;
	font-style: normal !important;
}

.t-data-grid th {
	background-color: transparent;
}

DIV.t-data-grid {
  font-family: $font-family-base;
}
