.import-table-wrapper {
  max-height: 500px;
  min-height: 250px;
  overflow: auto;
  box-shadow: inset -20px -20px 20px -8px $color-alto;
}

.import-table-header-name {
  width: 140px;
  padding-bottom: 10px;
  padding-right: 10px;
  .dropdown-item,
  .selectBox-label {
    @include text-overflow-ellipsis;
  }
  .selectBox-label {
    padding-right: 10px;
  }
  label {
    display: block;
  }
}
