table {
  font-size: 15px;
}

.table-list {
  @include table-striped;
  @include table-basic;

  td {
    > table {
      @include table-bordered;
      margin-bottom: 20px;
    }
    &:only-child {
      padding-right: 20px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  > thead > tr > th,
  > tbody > tr > td {
    padding: 2px 0;
  }

  > thead > tr > th:first-child,
  > tbody > tr > td:first-child {
    padding-left: 20px;
  }

  > tbody > tr:last-child.even {
    border-bottom: 2px solid $table-accent-bg;
  }

  .extraRow {
  	padding-right: 20px;
  }

  .hide-extrarow-button td.extraRow {
  	padding-left: 0;
    padding-right: 0;
  }

  .delete {
    padding-right: 2px;
    text-align: right;
  }
  .sendReminder {
    width: 54px;
  }
  .createCancelation {
    width: 40px;
    padding-right: 2px;
  }

}

.transaction-table {
  > tbody > tr > td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .extraRow {
    // max-width: 20px;
  }
  .bankAccountdescription {
    width: 12%;
    padding-right: 30px;
  }
  .name {
    width: 20%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .purpose {
    width: 50%;
    padding-right: 30px;
  }
  .amount {
    text-align: right;
    padding-right: 30px;
  }
  .status {
    width: 190px;
    white-space: nowrap;
    .link-button {
      width: 190px;
      text-align: left;
      margin-right: 2px;
    }
  }
  .selected {
    padding-right: 30px;
  }
}

.accounting-table {
  width: 291px;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 30px;
  color: $dark-dark-gray;
  border-collapse: separate;
  border-spacing: 2px;
  font-size: 14px;

  tbody tr:first-child {
    height: 30px;
  }

  th:first-child {
    width: 153px; // 53%;
    height: 45px;
    text-align: right;
    background-color: $light-green;
  }
  th:nth-child(2),
  td:nth-child(2),
  td:nth-child(3) {
    width: 134px; //47%;
    text-align: right;
  }
  th:nth-child(2) {
    color: white;
    background-color: $orange;
  }
  td {
    height: 22px;
    vertical-align: bottom;
  }
  th, td {
    padding-right: 10px;
  }

}

.balancing-table {
  margin-top: 20px;
  margin-bottom: 30px;
  td:first-child {
    width: 30%;
  }
  td:nth-child(2) {
    width: 10%;
    padding-right: 30px;
    text-align: right;
  }
  td:nth-child(3) {
    width: 25%;
  }
  td:last-child {
    width: 35%;
    padding-right: 20px;
    text-align: right;
  }
  td > i.fa {
    margin-right: 5px;
  }
}

.lettershop-table {
  @include table-basic;
  @include table-bordered-head-foot;

  th:first-child, td:first-child {
    padding-left: 20px;
  }

  th:last-child, td:last-child {
    text-align: right;
  }
}

.import-table {
  @include table-basic;
  @include table-bordered;
  table-layout: fixed;

  th, td {
    @include text-overflow-ellipsis;
    width: 125px;
  }

  th:first-child, td:first-child {
    padding-left: 13px;
    width: 137px;
  }
}

.pdf-preview-table {
  @include table-basic;
  @include table-bordered;
  td {
    color: $dark-dark-gray;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  th:last-child, td:last-child {
    text-align: right;
  }
}

.transaction-allocation-table {
  width: 100%;
  td {
    height: 36px;
    padding-bottom: 5px;
    padding-top: 5px;
    &:first-child {
      width: 20px;
    }
  }
  th:last-child, td:last-child {
    padding-right: 20px;
    text-align: right;
  }
  tr:first-child {
    border-bottom: 1px solid $light-light-gray;
  }
  tr:last-child {
    border-top: 1px solid $light-light-gray;
  }
}
