.right-bracket-wrapper {
  text-align: right;
  width: 220px;
  .right-bracket {
    display: inline-block;
    border-top: 2px solid $light-light-gray;
    border-bottom: 2px solid $light-light-gray;
    border-right: 2px solid $light-light-gray;
    height: 44px;
    vertical-align: middle;
    width: 15px;
  }
  a {
    vertical-align: middle;
  }
}
