.import-table-wrapper {
  height: 200px;
  overflow: auto;
  box-shadow: inset -20px -20px 20px -8px $light-gray;
}

.import-table-header {
  display: flex;
}

.import-table-header-name {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 10px;
  width: 140px;
  .dropdown-item,
  .selectBox-label {
    @include text-overflow-ellipsis;
  }
}
