@import "vr-color-variables";

// Font
$font-family-sans-serif: "frutiger_vrregular", Arial, sans-serif;
$font-family-base: "frutiger_vrregular", Arial, sans-serif;
$font-size-base: 14px;
$line-height-base: 20px;
$h1-font-size: 28px;
$h2-font-size: 20px;
$h3-font-size: 16px;
// $h4-font-size: 15px;
$headings-line-height: 30px;
$headings-color: $color-dove-gray;
$dt-font-weight: normal;

// Settings for the `<body>` element.
$body-color: $color-tundora;

// Links
$link-color: $color-endeavour;
$link-hover-color: $color-morning-glory;
$link-hover-decoration: none;

$border-radius: 4px;
$border-color: $color-alto;

//overwrite bootstrap $spacer 1rem
$spacer: 20px;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);

$container-max-widths: (
  sm: none,
  md: none,
  lg: none,
  xl: none
);

$grid-breakpoints: (
  xs: 0,
  sm: 0,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);

$form-text-margin-top: 0;

$table-accent-bg: $color-seashell;
$table-border-color: $color-mercury;

$text-muted: $color-silver-chalice;
