
.header-top {
  background-color: white;
  box-shadow: 0 2px 4px 0 $color-alto;
  height: 55px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.wrapper {
  margin: 0 auto;
  max-width: 1300px;
  min-width: 1024px;
  width: 100%;
}

section {
  margin-bottom: 40px;
}

h2 + .row,
h2 + .xrayhtml {
  margin-bottom: 40px;
}

.ui-top-nav {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: flex-end;
}

nav.sidebar-nav {
  position: sticky;
  top: 85px;
}

.ui-nav {
  color: $color-dove-gray;
  display: block;
  white-space: nowrap;
}

.ui-nav-bg {
  line-height: 42px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  &:hover {
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    .ui-nav {
      color: $color-endeavour;
    }
  }
}

.code {
  border: 1px solid $table-border-color;
  border-radius: 4px;
  display: block;
}

.colour-box {
  border-radius: 4px;
  line-height: 60px;
  height: 60px;
  text-align: center;
  &.is-dark {
    color: white;
  }
}
.colour-code {
  @extend .code;
  margin-top: 5px;
  text-align: center;
}

img.ui-measurements {
  border: 20px solid $color-mercury;
  width: 100%;
}
