
.bank-avatar {
  display: flex;
  .bank-avatar-item {
    align-items: center;
    background-color: white;
    border: 1px solid $color-endeavour;
    color: $color-dove-gray;
    cursor: pointer;
    display: flex;
    height: 72px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    .bank-logo {
      height: 50px;
      margin-right: 12px;
    }
  }
  .bank-avatar-item.active {
    border: none;
  }
}

textarea.email-subject {
  min-height: 40px;
}

textarea.email-message,
textarea.email-signature {
  height: 80px;
}

.settings-list {
  line-height: 30px;
  li {
    line-height: 30px;
    i {
      margin-right: 7px;
      font-size: 16px;
    }
  }
}

.monthly-fee-block {
  display: grid;
  grid-template-columns: 160px 200px;
  grid-template-rows: 20px 50px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  .fee-upper-edge {
    grid-column: 1;
    grid-row: 1;
    border-top: 5px solid $color-blaze-orange;
    border-left: 5px solid $color-blaze-orange;
    border-right: 5px solid $color-blaze-orange;
  }
  .fee-lower-edge {
    grid-column: 1;
    grid-row: 3;
    border-bottom: 5px solid $color-blaze-orange;
    border-left: 5px solid $color-blaze-orange;
    border-right: 5px solid $color-blaze-orange;
  }
  .monthly-fee {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    font-size: 50px;
  }
  .fee-description {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    font-size: 36px;
    color: $color-silver-chalice;
  }
}

//for IE 11
.monthly-fee-block {
  display: -ms-grid;
  -ms-grid-columns: 160px 200px;
  -ms-grid-rows: 20px 50px 20px;
  .fee-upper-edge {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .fee-lower-edge {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  .monthly-fee {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
  }
  .fee-description {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
  }
}
