@mixin make-container() {
  padding-right: ($grid-gutter-width / 2);
  padding-left:  ($grid-gutter-width / 2);
  width: 100%;
}

@mixin table-bordered-head-foot {
  th {
    border-top: 2px solid $table-border-color;
    border-bottom: 2px solid $table-border-color;
  }
  tbody tr:last-child td {
    border-bottom: 2px solid $table-border-color;
  }
}

@mixin table-bordered-body {
  td {
    border-bottom: 1px solid $table-border-color;
  }
}

@mixin table-bordered {
  @include table-bordered-head-foot;
  td {
    border-bottom: 1px solid $table-border-color;
  }
}

@mixin table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: $table-accent-bg;
  }
}

@mixin table-basic {
  width: 100%;
  th {
    height: 30px;
    a {
      color: $color-tundora;
    }
  }
  td {
    height: 44px;
    color: $color-dove-gray;
  }
}

@mixin cta-button($color,$bg-color,$border-color,$hover-color,$hover-bg-color) {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  color: $color;
  background-color: $bg-color;
  border: 1px solid $border-color;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    color: $hover-color;
    background-color: $hover-bg-color;
  }
  &:disabled {
    color: $color;
    cursor: default;
    background-color: $bg-color;
    opacity: 0.3;
  }
  > .fa {
    margin-right: 12px;
    font-size: 18px;
  }
}

@mixin text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin form-icon($top) {
    color: #0066B3;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    right: 10px;
    top: $top;
}
