
.sidebar {
  width: 272px !important;
  a {
    color: $color-dove-gray;
    &:hover {
      color: $color-endeavour;
    }
  }
  .active-item > a,
  a.active-item {
    color: $color-endeavour;
  }
}

.sidebar-logo {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 12px;
  img {
    height: 24px;
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 18px;
  color: $color-dove-gray;
}

.sidebar-menu {
  flex: 1 0 auto;
  margin-left: 27px;
}

.sidebar-menu-item {
  line-height: 47px;
  i {
    width: 26px;
  }
}

.sidebar-submenu {
  border-top: 1px solid $color-mercury;
  border-bottom: 1px solid $color-mercury;
  margin: 7px 27px 7px 0;
}

.sidebar-submenu-item {
  display: block;
  font-size: 16px;
  line-height: 22px;
  padding-left: 26px;
  padding-top: 11px;
  &:last-child {
    padding-bottom: 10px;
  }
}

.sidebar-account {
  border-top: 1px solid $color-mercury;
  border-bottom: 1px solid $color-mercury;
  display: flex;
  margin: 20px 24px 0;
  min-height: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sidebar-account-body {
  margin-left: 8px;
}

.sidebar-account-name {
  font-size: 16px;
  margin-bottom: 8px;
}

.sidebar-account-avatar {
  border-radius: 50%;
  border: 1px solid $color-silver-chalice;
  height: 47px;
  width: 47px;
}

.sidebar-help {
  font-size: 16px;
  margin-top: 20px;
  margin-left: 24px;
  padding-bottom: 35px;
  li {
    line-height: 26px;
  }
}

// @include media-breakpoint-down(lg) {
//
//   .sidebar {
//     width: 80px !important;
//   }
//
//   .sidebar-logo,
//   .sidebar-account {
//     visibility: hidden;
//   }
//
//   .sidebar-submenu,
//   .sidebar-menu-text,
//   .sidebar-account-body,
//   .sidebar-help {
//     display: none;
//   }
//
//   .sidebar-account {
//     margin-left: 15px;
//     margin-right: 0;
//   }
//
//   .sidebar-account-avatar {
//     margin-bottom: 161px;
//     visibility: visible;
//   }
//
// }

// Tabs
.nav-tabs {
  border-bottom: 1px solid $color-silver-chalice;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  .nav-item {
    margin: 0 5px -1px;
    &:first-child {
      margin-left: 0;
    }
  }
  .nav-link {
    border: 1px solid transparent;
    border-color: $color-endeavour $color-endeavour transparent;
    display: block;
    height: 100%;
    line-height: 42px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-link.active {
    color: $color-silver-chalice;
    border-color: $color-silver-chalice $color-silver-chalice white;
  }
  .bank-logo {
    height: 30px;
    width: 30px;
  }
}
